<h1>Insert team's Id to add</h1>

<ul>
<h3>Already have {{numTeams}} teams</h3>
{{#each league._teams}}
<li>
<p> Team : <b>{{this.team_name}}</b></p>
<a href="/league/mainLeague/delete/{{this._id}}"><button>Eliminar</button></a>
<a href="/league/mainLeague/edit-stats/{{this._id}}"><button>Editar Estadisticas</button></a>
</li>
{{/each}}
</ul>  

<form action="/league/mainLeague/{{id}}/add-team" method="POST">
   <label> Team Id
      <input type="text" name="team_id">
   </label>
   <button type="submit">Submit</button>
</form>

<a href="/league/mainLeague/{{id}}"><button>Main</button></a>