<div class="body-padding">
  <div class="titles">
    <p>Crear Partido</p>
  </div>

  <div class="body">

    <form
      class="row gy-2 gx-3 align-items-center"
      action="/league/match/{{id}}"
      method="POST"
    >

      <div class="col-sm-5">
        <label for="teamLocal" class="form-label">Local</label>

        <select
          class="form-select"
          aria-label="Default select example"
          name="teamLocal"
          id="local"
        >
          {{#each league.0._teams}}
            <option value="{{this._id}}">{{this.team_name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="col-sm-5">
        <label for="teamVisitor" class="form-label">Visitante</label>

        <select
          class="form-select"
          aria-label="Default select example"
          name="teamVisitor"
          id="visitor"
        >
          {{#each league.0._teams}}
            <option value="{{this._id}}">{{this.team_name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="col-sm-5">
        <label for="date" class="form-label">Fecha</label>
        <input type="date" name="date" class="form-control" />
      </div>

      <div class="col-sm-5">
        <label for="hour" class="form-label">Hora</label>
        <input type="hour" name="hour" class="form-control" />
      </div>

      <div class="col-sm-5">
        <label for="week" class="form-label">Semana</label>
        <select
          class="form-select"
          aria-label="Default select example"
          name="week"
          id="week"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="Cuartos de Final">Cuartos de Final</option>
          <option value="Semifinal">Semifinal</option>
          <option value="Final">Final</option>
        </select>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-bd-third">Crear</button>
      </div>
    </form>
  </div>
</div>

<footer class="footer-style" style="background-color: #B609DE">
  <div class="container">

    <div class="row">

      <div class="col footer-body" style="color: white">
        <h6 class="text-uppercase" style="color: white">Tochido</h6>

        <p>
          Tochido es la app #1 en Latinoamérica que facilita
          <br />
          la administración local de Ligas de Tocho.
          <br />
          Centraliza la infrmación de tu liga, equipos y jugadores
          <br />
          en esta app fácil e intuitiva de usar.
        </p>
      </div>

      <div class="col">
        <h6 class="text-uppercase" style="color: white"><center>Ciudad de México
            <br />
            México, 010000</center>
        </h6>
      </div>

      <div class="col">

        <a class="btn btn-floating" href="#!" role="button"><img
            src="/images/facebook-app-symbol.png"
            alt=""
            width="30"
            height="30"
          /></a>

        <a class="btn btn-floating" href="#!" role="button"><i
            class="fab fa-instagram"
          ><img
              src="/images/instagram.png"
              alt=""
              width="30"
              height="30"
            /></i></a>
        <h6
          class="text-uppercase"
          style="color: white"
        >elcorreo@gmail.com</h6><br />
        <a class="text-uppercase" style="color: white" href="#!">Aviso de
          Privacidad</a>

      </div>
    </div>
  </div>
</footer>

///////////////////////////////////////////////////////////////
<br /><br /><br />
<h1>Crear Encuentro</h1>

<form action="/league/match/{{id}}" method="post">
  <label for="teamLocal">Local</label>

  <select name="teamLocal" id="local">
    {{#each league.0._teams}}
      <option value="{{this._id}}">{{this.team_name}}</option>
    {{/each}}
  </select>

  <label for="scoreLocal">Puntos Local</label>
  <input type="number" name="scoreLocal" />
  <br /><br />
  <label for="teamVisitor">Visitante</label>
  <select name="teamVisitor" id="visitor">
    {{#each league.0._teams}}
      <option value="{{this._id}}">{{this.team_name}}</option>
    {{/each}}
  </select>

  <label for="scoreVisitor">Puntos Visitante</label>
  <input type="number" name="scoreVisitor" />
  <br /><br />

  <label for="date">Fecha</label>
  <input type="date" name="date" />
  <br /><br />

  <label for="hour">Hora</label>
  <input type="number" name="hour" />
  <br /><br />

  <label for="week">Semana</label>
  <select name="week" id="week">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="Cuartos de Final">Cuartos de Final</option>
    <option value="Semifinal">Semifinal</option>
    <option value="Final">Final</option>
  </select>

  <div class="col-12">
    <button type="submit" class="btn btn-bd-third">Crear</button>
  </div>
</form>