<h1>Insert player's Id to add</h1>

<ul>
<h3>Already have {{numPlayer}} players</h3>
{{#each show._players}}
<li>
<p> Nickname : <b>{{this.nickname}}</b> Number : <b>{{this.number}}</b> position : <b>{{this.position}}</b></p>
<a href="/team/mainTeam/delete/{{this._id}}"><button>Delete</button></a>
</li>
{{/each}}
</ul>  

<form action="/team/mainTeam/{{id}}/add-players" method="POST">
   <label> Player Id
      <input type="text" name="player_id">
   </label>
   <button type="submit">Submit</button>
</form>